@import "../../app.less";

#head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.tab {
  backdrop-filter: blur(15px);
  > view {
    text-align: center;
    height: ~'80rpx';
    line-height: ~'80rpx';
    flex: auto;
    > text {
      font-size: ~'30rpx';
      height: ~'70rpx';
      display: inline-block;
    }
  }
  > navigator {
    flex: 0 0 ~'70rpx';
    padding-top: ~'15rpx';
  }
  .isTab {
    color: @base-color;
    border-bottom: 1px solid @base-color;
  }
}

#main {
  margin-top: ~'80rpx';

  .banner {
    height: ~'300rpx';
    .bannerImage {
      height: ~'300rpx';
    }
  }

}